
<footer>
    <p>Copyright &copy; 2025 Chilukuri Mallikharjun Reddy </p>

    <ul class="social_links">
        <li> <a class="link-body-emphasis" href="mailto:mkreddychilukuri075@gmail.com"
                rel="noopener noreferrer"><img src="images/envelope.svg" alt="gmail"></a> </li>

        <li> <a class="link-body-emphasis" href="https://www.linkedin.com/in/mallikharjun-reddy-chilukuri-754b92241"
                target="_blank" rel="noopener noreferrer"><img src="images/linkedin.svg"
                    alt="Linkedin"></a> </li>

        <li> <a class="link-body-emphasis" href="https://www.instagram.com/__m.arjun__?utm_source=qr"
                rel="noopener noreferrer"><img src="images/instagram.svg" alt="Instagram"
                    class="w-auto"></a> </li>

        <li> <a class="link-body-emphasis" href="https://github.com/MALLIKHARJUN-02" target="_blank"
                rel="noopener noreferrer"><img src="images/github.svg" alt="github"></a> </li>
    </ul>
</footer>


<script src="scripts/animation.js"></script>
</body>

</html>