<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="CDM Blog is a dynamic blogging platform where users can express their thoughts freely. Built using Node.js and Express.js, it offers a seamless and interactive experience with user authentication, blog categorization, and a responsive design.">
    <meta name="keywords" content="CDM Blog, Blogging Platform, Node.js Blog, Express.js Blog, Write Blogs Online, User Authentication, Responsive Blog Website, Web Development, Blog Categories, JavaScript Blogging Site">
    <meta name="author" content="Chilukuri Mallikharjun Reddy">
    <link rel="icon" type="image/png" sizes="32x32" href="images/cmk.jpg">
    <link rel="apple-touch-icon" sizes="180x180" href="images/cmk.jpg">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="styles/style.css">
    <title>CDM Blog: Express Yourself Freely</title>
</head>

<body>
    <main>

        <!-- Nav Bar -->
        <nav id="navbar" class="nav">
            <img src="images/c-circle-fill.svg" alt="C logo">
            <h1>CDM</h1>

            <div id="navliks" class="links">
                <ul>
                    <li> <a href="/">Home</a> </li>
                    <li> <a href="about">About</a> </li>
                    <li> <a href="postblog">Post Blog</a> </li>
                    <li> <a href="categories">Categories</a> </li>
                    <li> <a href="login">Login/Signup</a> </li>
                    <li> <a href="">Profile</a> </li>
                </ul>
            </div>

            <img src="images/menu.svg" alt="menu logo" srcset="" class="menu" id="menu_icon">
        </nav>
