<%- include('partials/header.ejs') %>
        <!-- Categories  -->

        <div class="categories first_after_nav">
            <h1>Categories</h1>
            <div class="cat-cards">
                <div class="card">
                    <a href="">TECHNOLOGY</a>
                </div>
                <div class="card">
                    <a href="">LIFESTYLE</a>
                </div>
                <div class="card">
                    <a href="">TRAVEL</a>
                </div>
                <div class="card">
                    <a href="">EDUCATION</a>
                </div>
                <div class="card">
                    <a href="">HEALTH</a>
                </div>
                <div class="card">
                    <a href="">ENTERTAINMENT</a>
                </div>
            </div>
        </div>

        <%- include('partials/footer.ejs') %>