<%- include('partials/header.ejs') %>
        <!-- Home / Welcome -->
        <div class="welcome first_after_nav">
            <div class="hero">
                <h1>Welcome to CDM Blog! <%= username %></h1>
                <p>A vibrant space where your ideas, stories, and insights come to life! Whether you're passionate about
                    writing, tech, or personal experiences, this is your platform to inspire and be inspired. Share your
                    voice, connect with like-minded people, and make an impact—one blog at a time. Start writing today!
                </p>

                <input type="button" value="GET STARTED" class="getStarted">

                <input type="button" value="CONTACT US" class="getStarted">
            </div>
        </div>

        <%- include('partials/footer.ejs') %>
