<%- include('partials/header.ejs') %>
        <!-- SignUp  -->

        
        <div class="signup first_after_nav">
            <h1>SIGNUP</h1>
            <small>If you have an account, <a href="login">Click here to login</a></small>

            <form action="signup" class="login_form" method="post">
                <label for="username" class="form-box">Username:</label>
                <input type="text" id="username" name="username" placeholder="Enter your username" required class="form-box">
                <label for="password" class="form-box">Password:</label>
                <input type="text" name="password" id="password" placeholder="Enter your password" required class="form-box">
                <input type="submit" value="SIGNUP" class="submit">
            </form>
        </div>
    </main>

    <%- include('partials/footer.ejs') %>